<h1>Create New Question</h1>

<form action="<%= test_questions_path %>" method="post">
  <%= token_tag %>

  <p>
    <label for="question-body">Body:</label>
    <input type="text" name="question[body]" id="question-body">
  </p><br>

  <input type="submit" value="Create">
</form>
