<table>
  <tr>
    <td><%= link_to test.title, test_questions_path(test.id) %> (<%= test.questions.count %>)</td>
    <td><%= link_to 'Delete', test_path(test.id), method: :delete %></td>
    <td><%= link_to 'Edit', edit_test_path(test.id) %></td>
  </tr>
</table>
